In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df2016 = pd.read_excel('data/RTC.xlsx', sheet_name='2016')
df2017 = pd.read_excel('data/RTC.xlsx', sheet_name='2017')
df2018 = pd.read_excel('data/RTC.xlsx', sheet_name='2018')
df2019 = pd.read_excel('data/RTC.xlsx', sheet_name='2019')
df2020 = pd.read_excel('data/RTC.xlsx', sheet_name='2020')

#### data_schema for causes of road accidents

In [48]:
causes = pd.DataFrame(columns = ['abbrv', 'meaning'])

In [52]:
abb = pd.Series(['SPV','LOC','DGD','TBT','BFL','WOT','RTV','MDV','BRD','OBS','DOT','OVL','SOS','DAD','UPWD','FTQ','PWR','SLV','OTH'])
meaning = pd.Series(['Speed Violation','Lost of Control','Dangerous Driving','Tyre Burst','Brake Failure','Wrongful Overtaking','Route Violation','Mechanically Deficient Vehicle','Bad Road','Road Obstruction Violation','Dangerous Overtaking','Overloading','Sleeping on Steering','Driving Under Alcohol/Drug','Use of Phone While Driving','Fatigue','Poor Weather','Sign Light Violation', 'Others'])

In [53]:
causes['abbrv'] = abb
causes['meaning'] = meaning

In [55]:
causes.set_index('abbrv', inplace=True)

In [57]:
causes.to_csv('data/causes_schema.csv')

### Data Cleaning

### **** 2016 ****

In [9]:
df2016.drop(index= [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15], axis=0, inplace=True)

In [10]:
columns = ['sn','command', 'date','crash_time','report_time','arrival_time','response_time','route','location','vehicle_no','vehicle_type','vehicle_cat','vehicle_make','vehicle_model','fleet_operator','name_of_driver', 'dl_no','causes', 'no_injured_male_adult','no_injured_female_adult','no_injured_male_child','no_injured_female_child', 'total_injured', 'no_killed_male_adult','no_killed_female_adult','no_killed_male_child','no_killed_female_child', 'total_killed', 'no_involved_male_adult','no_involved_female_adult','no_involved_male_child','no_involved_female_child', 'total_involved']

In [11]:
df2016.columns = columns

In [12]:
# Fill the name of command for all rows
def fill_command(df_c):
    global current_command
    if df_c != np.empty:
        if str(df_c).lower().startswith('rs'):
            current_command = df_c
        return current_command
    else:
        return

In [13]:
df2016.command = df2016.apply(lambda x: fill_command(x['command']), axis=1)

In [15]:
df2016.sn = pd.to_numeric(df2016.sn, errors="coerce")

In [16]:
df2016 = df2016[df2016['sn'].notnull()]

In [17]:
df2016.sn = df2016.sn.astype(int)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [19]:
df2016.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37 entries, 17 to 86
Data columns (total 33 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   sn                        37 non-null     int32
 1   command                   37 non-null     object
 2   date                      37 non-null     object
 3   crash_time                37 non-null     object
 4   report_time               37 non-null     object
 5   arrival_time              37 non-null     object
 6   response_time             37 non-null     object
 7   route                     37 non-null     object
 8   location                  37 non-null     object
 9   vehicle_no                37 non-null     object
 10  vehicle_type              37 non-null     object
 11  vehicle_cat               37 non-null     object
 12  vehicle_make              37 non-null     object
 13  vehicle_model             37 non-null     object
 14  fleet_operator            0 non-null      object
 15  name_of_driver            0 non-null      object
 16  dl_no                     0 non-null      object
 17  causes                    37 non-null     object
 18  no_injured_male_adult     37 non-null     object
 19  no_injured_female_adult   37 non-null     object
 20  no_injured_male_child     37 non-null     object
 21  no_injured_female_child   37 non-null     object
 22  total_injured             37 non-null     object
 23  no_killed_male_adult      37 non-null     object
 24  no_killed_female_adult    37 non-null     object
 25  no_killed_male_child      37 non-null     object
 26  no_killed_female_child    37 non-null     object
 27  total_killed              37 non-null     object
 28  no_involved_male_adult    37 non-null     object
 29  no_involved_female_adult  37 non-null     object
 30  no_involved_male_child    37 non-null     object
 31  no_involved_female_child  37 non-null     object
 32  total_involved            37 non-null     object
dtypes: int32(1), object(32)
memory usage: 9.7+ KB

In [11]:
df2016.to_csv("data/rtc_2016.csv")

### **** 2017 ****

In [20]:
df2017.drop(index= [0,1,2,3,4,5,6,7], axis=0,inplace=True)

In [21]:
df2017.columns = columns

In [22]:
df2017.command = df2017.apply(lambda x: fill_command(x['command']), axis=1)

In [23]:
df2017.sn = pd.to_numeric(df2017.sn, errors="coerce")

In [24]:
df2017 = df2017[df2017['sn'].notnull()]

In [25]:
df2017.sn = df2017.sn.astype(int)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [26]:
df2017

,sn,command,date,crash_time,report_time,arrival_time,response_time,route,location,vehicle_no,...,no_killed_male_adult,no_killed_female_adult,no_killed_male_child,no_killed_female_child,total_killed,no_involved_male_adult,no_involved_female_adult,no_involved_male_child,no_involved_female_child,total_involved
9,1,RS11.2,03/01/2017,1525,1531,1546,15,AKR - OWO,KM 21 VBOLORUNDURO,"EM 182 FST, AG 36 FGB & LSD 321 CF",...,0,0,0,0,0,5,1,0,0,6
10,2,RS11.2,09/01/2017,0815,0820,0830,10,AKR - OWO,KM 11 OBA ILE JUNCT.,NND 957 AE & FKJ 146 XG,...,1,0,0,0,1,8,6,2,2,18
11,3,RS11.2,12/01/2017,1300,1310,1320,10,AKR - OWO,KM 11 OBA ILE JUNCT.,BF 95 BDJ,...,1,0,0,0,1,2,6,0,0,8
12,4,RS11.2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,5,RS11.2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
348,7,RS11.24,24/09/2017,0921,0933,0941,8,OND - ORE,KM 1,"AP 703 NND, NND 505 HV & NO NOS",...,0,0,0,0,0,3,0,0,0,3
349,8,RS11.24,24/09/2017,1247,1249,1259,10,OND - IFE,KM 1 WESLEY UNIVERSITY,KER 500 XD & NO NOS,...,0,0,0,0,0,4,3,2,1,10
350,9,RS11.24,29/09/2017,2147,2219,2219,1,OND - AKR,KM 3 ADEPETU,NO NOS,...,0,0,0,0,0,2,0,0,0,2
352,1,RS11.25,15/09/2017,1610,1620,1625,5,IFON - OWO,KM 1 AFTER ORI - OHI,AAA 528 AQ,...,0,0,0,0,0,2,0,0,0,2
353,2,RS11.25,26/09/2017,1250,1300,1310,10,IFON - OWO,KM 1 OPP SABO IFON,KAK 65 XA,...,0,0,0,0,0,13,5,0,0,18

In [18]:
df2017.to_csv("data/rtc_2017.csv")

### **** 2018 ****

In [27]:
df2018.drop(index= [0,1,2,3,4,5,6,7], axis=0,inplace=True)

In [28]:
df2018.columns = columns

In [29]:
df2018.command = df2018.apply(lambda x: fill_command(x['command']), axis=1)

In [30]:
df2018.sn = pd.to_numeric(df2018.sn, errors="coerce")

In [31]:
df2018 = df2018[df2018['sn'].notnull()]

In [32]:
df2018.sn = df2018.sn.astype(int)

In [25]:
df2018.to_csv("data/rtc_2018.csv")

In [33]:
df2018

,sn,command,date,crash_time,report_time,arrival_time,response_time,route,location,vehicle_no,...,no_killed_male_adult,no_killed_female_adult,no_killed_male_child,no_killed_female_child,total_killed,no_involved_male_adult,no_involved_female_adult,no_involved_male_child,no_involved_female_child,total_involved
9,1,RS11.2,03/08/2018,1520,1522,1525,3,AKR - OND,KM 6 OLOKUTA AREA PRISON,FFE 154 AA,...,0,0,0,0,0,3,2,0,1,6
10,2,RS11.2,05/08/2018,1924,1930,1933,3,AKR - IPT,KM 1 ROAD BLOCK,"AKR 912 MM, CZ 704 FST & AGN 893 DL",...,0,0,0,0,0,8,0,0,0,8
11,3,RS11.2,07/08/2018,1833,1838,1851,13,AKR - OND,KM 8 APONMU,NND 861 AA &JTA 494 XA,...,0,0,0,0,0,3,0,0,0,3
12,4,RS11.2,18/08/2018,1552,1554,1602,8,AKR - OWO,KM 5 ADO JUNCTION AXIS OPP SWIFT FILLING STATION.,"FFN 67 AA, MUS 491 EX & SMK 847 AW",...,0,0,0,0,0,4,0,0,0,4
13,5,RS11.2,18/08/2018,2020,2025,2030,5,AKR - IPT,KM 2 FUTA BNORTH GATE AREA ACAD,NO NOS & KM 576 AAA,...,0,0,0,0,0,3,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356,5,RS11.24,16/02/2018,1421,1443,1451,8,OND - AKR,KM 1 ITANLA,NND 816 HV,...,0,1,0,0,1,1,1,0,0,2
357,6,RS11.24,19/02/2018,0148,0153,0159,6,OND - ORE,KM 9 LIYETU,"XE 742 NND, AE 680 LFF, FG 439 F20, LD 957 EKY...",...,1,0,0,0,1,11,0,0,0,11
358,7,RS11.24,25/02/2018,1637,1643,1704,21,OND - ORE,KM 13 IGBADO,ENU 618 AH & AKR 180 YT,...,0,0,0,0,0,5,0,0,0,5
359,8,RS11.24,27/02/2018,1311,1321,1329,8,OND - ORE,KM 4 OKE ODUWO,HR 861 EKT & SGM 3058 HQ,...,0,0,0,0,0,2,2,0,0,4
361,1,RS11.25,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### **** 2019 ****

In [34]:
df2019.drop(index= [0,1,2,3,4,5,6], axis=0,inplace=True)

In [35]:
df2019.columns = columns

In [36]:
df2019.command = df2019.apply(lambda x: fill_command(x['command']), axis=1)

In [37]:
df2019.sn = pd.to_numeric(df2019.sn, errors="coerce")

In [38]:
df2019 = df2019[df2019['sn'].notnull()]

In [39]:
df2019.sn = df2019.sn.astype(int)

In [32]:
df2019.to_csv("data/rtc_2019.csv")

In [40]:
df2019

,sn,command,date,crash_time,report_time,arrival_time,response_time,route,location,vehicle_no,...,no_killed_male_adult,no_killed_female_adult,no_killed_male_child,no_killed_female_child,total_killed,no_involved_male_adult,no_involved_female_adult,no_involved_male_child,no_involved_female_child,total_involved
8,1,RS11.2,02/01/2019,2113,2133,2145,12,AKR - OWO,KM 5 AGBOGB JUCTN.,HIT AND RUN,...,0,0,0,0,0,2,0,0,0,2
9,2,RS11.2,07/01/2019,1026,1030,1039,9,AKR - IPT,KM 12 ERO,NO NOS & BEN 473 AE,...,0,0,0,0,0,2,1,1,3,7
10,3,RS11.2,11/01/2019,0932,0932,0935,3,AKR - OWO,KM 1.3 SEEBI JUNCTION.,GGE 463 XB & AAA 352 DK,...,0,0,0,0,0,5,9,0,1,15
11,4,RS11.2,16/01/2016,0804,0809,0839,30,AKR - OND,"KM 24 AGO AYENI, 300M FROM BEST SOLUTION POLY.",LND 274 XP & FGB 940 AA,...,2,1,0,0,3,3,1,0,0,4
12,5,RS11.2,22/01/2019,1937,1945,2002,17,AKR - IPT,KM 4 ILERE AFTER OSRC,2 NO NOS,...,0,0,0,0,0,2,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335,3,RS11.24,10/10/2019,0741,0751,0804,13,OND - IFE,KM 9 PELE,NND 437 VJ,...,0,0,0,0,0,1,0,0,1,2
336,4,RS11.24,10/10/2019,0308,0332,0348,16,OND - ORE,KM 14 AWOYAYA,KTU 706 BW,...,3,2,0,0,5,3,4,1,0,8
337,5,RS11.24,20/10/2019,0642,0655,0708,13,OND - AKR,KM 5 NEPA,HIT & RUN,...,0,1,0,0,1,1,1,0,0,2
338,6,RS11.24,20/10/2019,1941,1959,2008,9,OND - AKR,KM 10 AJILO,AKR 898 FW & NND 635 QB,...,0,0,0,0,0,3,0,0,0,3
340,1,RS11.25,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### **** 2020 ****

In [41]:
df2020.drop(index= [0,1,2,3,4,5,6,7], axis=0,inplace=True)

In [42]:
df2020.columns = columns

In [43]:
df2020.command = df2020.apply(lambda x: fill_command(x['command']), axis=1)

In [44]:
df2020.sn = pd.to_numeric(df2020.sn, errors="coerce")

In [45]:
df2020 = df2020[df2020['sn'].notnull()]

In [46]:
df2020.sn = df2020.sn.astype(int)
df2020 = df2020[:-2]

In [39]:
df2020.to_csv("data/rtc_2020.csv")

In [47]:
df2020

,sn,command,date,crash_time,report_time,arrival_time,response_time,route,location,vehicle_no,...,no_killed_male_adult,no_killed_female_adult,no_killed_male_child,no_killed_female_child,total_killed,no_involved_male_adult,no_involved_female_adult,no_involved_male_child,no_involved_female_child,total_involved
9,1,RS11.2,03/12/2020,1245,1250,1255,5,AKR - OWO,500 M TO THE OFFICE,BSA 60 PM & KEY 150 YE,...,0,0,0,0,0,4,8,0,0,12
10,2,RS11.2,04/12/2020,1605,1625,1630,5,AKR - IPT,KM 1 ACCADE AREA,"GGE 564 GG, XB 645 JTA & FGB 66 XB",...,0,0,0,0,0,6,2,0,0,8
11,3,RS11.2,20/12/2020,1620,1623,1626,3,AKR - IPT,KM 2 WESCO JUNCTION,LND 85 FP & XB 518 JTA,...,0,0,0,0,0,2,0,0,0,2
12,4,RS11.2,22/12/2020,1340,1355,1410,15,AKR OWO,KM ELEYOWO ALONG AIRPORT,FUF 411 AH,...,0,0,0,0,0,2,0,0,0,2
13,5,RS11.2,29/12/2020,1130,1135,1150,15,AKR - OWO,KM 6 STONE WORKS,RSH 558 FY & BDG 512 AU,...,0,0,0,0,0,2,2,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278,1,RS11.21,12/04/2020,0601,0604,0610,6,ORE - BEN,KM 4 SHOWBOY,AKR 770 EA,...,2,2,0,0,4,2,2,0,0,4
280,1,RS11.22,03/04/2020,0545,0550,0554,4,OWO - IKR,AFTER AGOPANU,LSR 886 XW & KTN 350 YZ,...,0,0,0,0,0,16,0,0,0,16
281,2,RS11.22,30/04/2020,1402,1415,1423,8,OWO - IKR,KM 17 OPP CHANCERY HOTEL,WWW 340 WI,...,0,0,0,0,0,1,0,0,0,1
283,1,RS11.23,05/04/2020,1315,1325,1341,16,OKA - AKUNGBA,IWARO HILL,MUN 102 ZA,...,0,0,0,0,0,2,0,0,0,2
285,1,RS11.24,21/04/2020,1432,1441,1447,6,OND - ORE,MOTHER & CHILD HOSPITL,NND 378 WX,...,0,0,0,0,0,2,0,0,0,2