In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

In [19]:
df2016 = pd.read_csv('data/rtc_2016.csv')
df2017 = pd.read_csv('data/rtc_2017.csv')
df2018 = pd.read_csv('data/rtc_2018.csv')
df2019 = pd.read_csv('data/rtc_2019.csv')
df2020 = pd.read_csv('data/rtc_2020.csv')

#### Aggregate Data

In [46]:
total_df = pd.concat([df2016,df2017,df2018,df2019,df2020], ignore_index=True)

In [47]:
total_df.drop('Unnamed: 0', inplace=True, axis=1)

##### Time Splitter Function

In [48]:
new_crash_time = total_df['crash_time'].astype(str).apply(lambda x: re.sub("[^0-9]", "", x))

In [49]:
new_arrival_time = total_df['arrival_time'].astype(str).apply(lambda x: re.sub("[^0-9]", "", x))

In [50]:
new_response_time = total_df['response_time'].astype(str).apply(lambda x: re.sub("[^0-9]", "", x))

In [51]:
total_df['crash_time'] = pd.to_numeric(new_crash_time)

In [52]:
total_df['arrival_time'] = pd.to_numeric(new_arrival_time)

In [53]:
total_df['response_time'] = pd.to_numeric(new_response_time)

In [61]:
total_df['date'] = total_df['date'].astype(str)

In [78]:
def clean_date(date_given):
    try:
        if date_given=='0':
            return '0'
        else:
            return pd.to_datetime(date_given)
    except:
        return '0'

In [79]:
total_df['date'] = total_df['date'].apply(lambda x: clean_date(x))

In [81]:
total_df['date'].unique()

array([Timestamp('2016-02-09 00:00:00'), Timestamp('2016-08-09 00:00:00'),
       Timestamp('2016-09-18 00:00:00'), Timestamp('2016-09-23 00:00:00'),
       Timestamp('2016-09-25 00:00:00'), Timestamp('2016-03-09 00:00:00'),
       Timestamp('2016-09-22 00:00:00'), Timestamp('2016-09-24 00:00:00'),
       Timestamp('2016-09-26 00:00:00'), Timestamp('2016-09-28 00:00:00'),
       Timestamp('2016-09-13 00:00:00'), Timestamp('2016-09-21 00:00:00'),
       Timestamp('2016-12-09 00:00:00'), Timestamp('2016-07-09 00:00:00'),
       Timestamp('2016-08-12 00:00:00'), Timestamp('2016-12-12 00:00:00'),
       Timestamp('2016-02-12 00:00:00'), Timestamp('2016-11-12 00:00:00'),
       Timestamp('2016-12-18 00:00:00'), Timestamp('2016-12-28 00:00:00'),
       Timestamp('2016-07-12 00:00:00'), Timestamp('2016-09-12 00:00:00'),
       Timestamp('2016-12-13 00:00:00'), Timestamp('2015-12-19 00:00:00'),
       Timestamp('2016-12-17 00:00:00'), Timestamp('2016-12-19 00:00:00'),
       Timestamp('2016-06-12 00:00:00'), Timestamp('2017-03-01 00:00:00'),
       Timestamp('2017-09-01 00:00:00'), Timestamp('2017-12-01 00:00:00'),
       '0', Timestamp('2017-02-01 00:00:00'),
       Timestamp('2017-06-01 00:00:00'), Timestamp('2017-01-17 00:00:00'),
       Timestamp('2017-04-01 00:00:00'), Timestamp('2017-08-01 00:00:00'),
       Timestamp('2017-01-16 00:00:00'), Timestamp('2017-01-02 00:00:00'),
       Timestamp('2017-04-02 00:00:00'), Timestamp('2017-02-14 00:00:00'),
       Timestamp('2017-02-24 00:00:00'), Timestamp('2017-03-02 00:00:00'),
       Timestamp('2017-05-02 00:00:00'), Timestamp('2017-10-02 00:00:00'),
       Timestamp('2017-11-02 00:00:00'), Timestamp('2017-02-22 00:00:00'),
       Timestamp('2017-02-25 00:00:00'), Timestamp('2017-12-02 00:00:00'),
       Timestamp('2017-02-26 00:00:00'), Timestamp('2017-02-04 00:00:00'),
       Timestamp('2017-08-04 00:00:00'), Timestamp('2017-04-15 00:00:00'),
       Timestamp('2019-04-16 00:00:00'), Timestamp('2017-04-16 00:00:00'),
       Timestamp('2017-04-18 00:00:00'), Timestamp('2017-04-21 00:00:00'),
       Timestamp('2017-04-28 00:00:00'), Timestamp('2017-04-30 00:00:00'),
       Timestamp('2017-01-04 00:00:00'), Timestamp('2017-10-04 00:00:00'),
       Timestamp('2017-12-04 00:00:00'), Timestamp('2017-04-13 00:00:00'),
       Timestamp('2014-02-04 00:00:00'), Timestamp('2017-06-04 00:00:00'),
       Timestamp('2017-04-14 00:00:00'), Timestamp('2017-04-27 00:00:00'),
       Timestamp('2017-04-22 00:00:00'), Timestamp('2017-09-04 00:00:00'),
       Timestamp('2017-04-17 00:00:00'), Timestamp('2017-04-23 00:00:00'),
       Timestamp('2017-01-05 00:00:00'), Timestamp('2017-07-05 00:00:00'),
       Timestamp('2017-11-05 00:00:00'), Timestamp('2017-05-15 00:00:00'),
       Timestamp('2017-05-16 00:00:00'), Timestamp('2017-05-23 00:00:00'),
       Timestamp('2017-05-26 00:00:00'), Timestamp('2017-05-05 00:00:00'),
       Timestamp('2017-04-05 00:00:00'), Timestamp('2017-05-18 00:00:00'),
       Timestamp('2017-05-24 00:00:00'), Timestamp('2017-06-05 00:00:00'),
       Timestamp('2017-05-13 00:00:00'), Timestamp('2017-05-27 00:00:00'),
       Timestamp('2017-05-29 00:00:00'), Timestamp('2017-01-06 00:00:00'),
       Timestamp('2017-06-06 00:00:00'), Timestamp('2017-07-06 00:00:00'),
       Timestamp('2017-10-06 00:00:00'), Timestamp('2017-06-16 00:00:00'),
       Timestamp('2017-04-06 00:00:00'), Timestamp('2017-11-06 00:00:00'),
       Timestamp('2017-06-13 00:00:00'), Timestamp('2017-06-14 00:00:00'),
       Timestamp('2017-06-24 00:00:00'), Timestamp('2017-06-25 00:00:00'),
       Timestamp('2017-06-28 00:00:00'), Timestamp('2017-12-06 00:00:00'),
       Timestamp('2017-06-17 00:00:00'), Timestamp('2017-02-07 00:00:00'),
       Timestamp('2017-05-07 00:00:00'), Timestamp('2017-06-07 00:00:00'),
       Timestamp('2017-10-07 00:00:00'), Timestamp('2017-12-07 00:00:00'),
       Timestamp('2017-07-22 00:00:00'), Timestamp('2017-07-26 00:00:00'),
       Timestamp('2017-01-07 00:00:00'), Timestamp('2017-04-07 00:00:00'),
       Timestamp('2017-08-07 00:00:00'), Timestamp('2017-07-21 00:00:00'),
       Timestamp('2017-07-29 00:00:00'), Timestamp('2017-07-13 00:00:00'),
       Timestamp('2017-07-14 00:00:00'), Timestamp('2017-07-19 00:00:00'),
       Timestamp('2017-07-28 00:00:00'), Timestamp('2017-01-08 00:00:00'),
       Timestamp('2017-06-08 00:00:00'), Timestamp('2017-08-16 00:00:00'),
       Timestamp('2017-08-22 00:00:00'), Timestamp('2017-03-08 00:00:00'),
       Timestamp('2017-05-08 00:00:00'), Timestamp('2017-08-13 00:00:00'),
       Timestamp('2017-08-17 00:00:00'), Timestamp('2017-08-25 00:00:00'),
       Timestamp('2017-08-30 00:00:00'), Timestamp('2017-08-29 00:00:00'),
       Timestamp('2017-10-08 00:00:00'), Timestamp('2017-08-26 00:00:00'),
       Timestamp('2017-08-14 00:00:00'), Timestamp('2017-08-19 00:00:00'),
       Timestamp('2017-05-09 00:00:00'), Timestamp('2017-10-09 00:00:00'),
       Timestamp('2017-09-19 00:00:00'), Timestamp('2017-03-09 00:00:00'),
       Timestamp('2017-08-09 00:00:00'), Timestamp('2017-11-09 00:00:00'),
       Timestamp('2017-12-09 00:00:00'), Timestamp('2017-09-16 00:00:00'),
       Timestamp('2017-09-24 00:00:00'), Timestamp('2017-06-09 00:00:00'),
       Timestamp('2017-09-09 00:00:00'), Timestamp('2017-09-21 00:00:00'),
       Timestamp('2017-02-09 00:00:00'), Timestamp('2017-07-09 00:00:00'),
       Timestamp('2017-09-15 00:00:00'), Timestamp('2017-04-09 00:00:00'),
       Timestamp('2017-09-29 00:00:00'), Timestamp('2017-09-26 00:00:00'),
       Timestamp('2018-03-08 00:00:00'), Timestamp('2018-05-08 00:00:00'),
       Timestamp('2018-07-08 00:00:00'), Timestamp('2018-08-18 00:00:00'),
       Timestamp('2018-01-08 00:00:00'), Timestamp('2018-12-08 00:00:00'),
       Timestamp('2018-08-13 00:00:00'), Timestamp('2018-08-17 00:00:00'),
       Timestamp('2018-08-19 00:00:00'), Timestamp('2018-08-21 00:00:00'),
       Timestamp('2018-02-08 00:00:00'), Timestamp('2018-04-08 00:00:00'),
       Timestamp('2018-11-08 00:00:00'), Timestamp('2018-08-14 00:00:00'),
       Timestamp('2018-08-20 00:00:00'), Timestamp('2018-08-24 00:00:00'),
       Timestamp('2018-08-27 00:00:00'), Timestamp('2018-08-29 00:00:00'),
       Timestamp('2018-05-07 00:00:00'), Timestamp('2018-07-15 00:00:00'),
       Timestamp('2018-07-24 00:00:00'), Timestamp('2018-07-28 00:00:00'),
       Timestamp('2018-07-29 00:00:00'), Timestamp('2018-01-07 00:00:00'),
       Timestamp('2018-08-07 00:00:00'), Timestamp('2018-10-07 00:00:00'),
       Timestamp('2018-07-19 00:00:00'), Timestamp('2018-04-07 00:00:00'),
       Timestamp('2018-06-07 00:00:00'), Timestamp('2018-09-07 00:00:00'),
       Timestamp('2018-11-07 00:00:00'), Timestamp('2018-12-07 00:00:00'),
       Timestamp('2018-07-16 00:00:00'), Timestamp('2018-07-17 00:00:00'),
       Timestamp('2018-07-20 00:00:00'), Timestamp('2018-07-27 00:00:00'),
       Timestamp('2018-07-22 00:00:00'), Timestamp('2018-05-06 00:00:00'),
       Timestamp('2018-10-06 00:00:00'), Timestamp('2018-11-06 00:00:00'),
       Timestamp('2018-06-14 00:00:00'), Timestamp('2018-06-16 00:00:00'),
       Timestamp('2018-06-23 00:00:00'), Timestamp('2018-06-24 00:00:00'),
       Timestamp('2018-01-06 00:00:00'), Timestamp('2018-02-06 00:00:00'),
       Timestamp('2018-06-06 00:00:00'), Timestamp('2018-09-06 00:00:00'),
       Timestamp('2018-06-15 00:00:00'), Timestamp('2018-06-19 00:00:00'),
       Timestamp('2018-06-20 00:00:00'), Timestamp('2018-06-22 00:00:00'),
       Timestamp('2018-06-26 00:00:00'), Timestamp('2018-04-06 00:00:00'),
       Timestamp('2018-08-06 00:00:00'), Timestamp('2018-07-06 00:00:00'),
       Timestamp('2018-06-21 00:00:00'), Timestamp('2018-12-06 00:00:00'),
       Timestamp('2018-06-18 00:00:00'), Timestamp('2018-04-13 00:00:00'),
       Timestamp('2018-04-14 00:00:00'), Timestamp('2018-04-22 00:00:00'),
       Timestamp('2018-04-27 00:00:00'), Timestamp('2018-05-04 00:00:00'),
       Timestamp('2018-08-04 00:00:00'), Timestamp('2018-12-04 00:00:00'),
       Timestamp('2018-04-16 00:00:00'), Timestamp('2018-04-25 00:00:00'),
       Timestamp('2018-10-04 00:00:00'), Timestamp('2018-04-17 00:00:00'),
       Timestamp('2018-04-21 00:00:00'), Timestamp('2018-04-28 00:00:00'),
       Timestamp('2018-03-04 00:00:00'), Timestamp('2018-11-04 00:00:00'),
       Timestamp('2018-04-30 00:00:00'), Timestamp('2018-06-04 00:00:00'),
       Timestamp('2018-09-04 00:00:00'), Timestamp('2018-04-19 00:00:00'),
       Timestamp('2018-10-05 00:00:00'), Timestamp('2018-11-05 00:00:00'),
       Timestamp('2018-05-21 00:00:00'), Timestamp('2018-10-24 00:00:00'),
       Timestamp('2018-05-26 00:00:00'), Timestamp('2018-05-28 00:00:00'),
       Timestamp('2018-01-05 00:00:00'), Timestamp('2018-05-05 00:00:00'),
       Timestamp('2018-12-05 00:00:00'), Timestamp('2018-05-18 00:00:00'),
       Timestamp('2018-05-19 00:00:00'), Timestamp('2018-05-23 00:00:00'),
       Timestamp('2018-04-05 00:00:00'), Timestamp('2018-06-05 00:00:00'),
       Timestamp('2018-08-05 00:00:00'), Timestamp('2018-05-16 00:00:00'),
       Timestamp('2018-05-22 00:00:00'), Timestamp('2018-07-05 00:00:00'),
       Timestamp('2018-05-14 00:00:00'), Timestamp('2018-05-15 00:00:00'),
       Timestamp('2018-05-29 00:00:00'), Timestamp('2018-09-05 00:00:00'),
       Timestamp('2018-02-05 00:00:00'), Timestamp('2018-05-24 00:00:00'),
       Timestamp('2018-03-23 00:00:00'), Timestamp('2018-03-30 00:00:00'),
       Timestamp('2018-03-31 00:00:00'), Timestamp('2018-06-03 00:00:00'),
       Timestamp('2018-12-03 00:00:00'), Timestamp('2018-03-24 00:00:00'),
       Timestamp('2018-03-28 00:00:00'), Timestamp('2018-07-03 00:00:00'),
       Timestamp('2018-08-03 00:00:00'), Timestamp('2018-03-18 00:00:00'),
       Timestamp('2018-03-21 00:00:00'), Timestamp('2018-03-22 00:00:00'),
       Timestamp('2018-03-26 00:00:00'), Timestamp('2018-03-29 00:00:00'),
       Timestamp('2018-01-03 00:00:00'), Timestamp('2018-09-03 00:00:00'),
       Timestamp('2018-10-03 00:00:00'), Timestamp('2018-11-03 00:00:00'),
       Timestamp('2018-03-17 00:00:00'), Timestamp('2018-03-25 00:00:00'),
       Timestamp('2018-03-03 00:00:00'), Timestamp('2018-05-03 00:00:00'),
       Timestamp('2018-04-02 00:00:00'), Timestamp('2018-02-13 00:00:00'),
       Timestamp('2018-02-16 00:00:00'), Timestamp('2018-02-25 00:00:00'),
       Timestamp('2018-01-02 00:00:00'), Timestamp('2018-02-02 00:00:00'),
       Timestamp('2018-07-02 00:00:00'), Timestamp('2018-09-02 00:00:00'),
       Timestamp('2018-10-02 00:00:00'), Timestamp('2018-02-23 00:00:00'),
       Timestamp('2018-02-24 00:00:00'), Timestamp('2018-02-27 00:00:00'),
       Timestamp('2018-02-15 00:00:00'), Timestamp('2018-02-17 00:00:00'),
       Timestamp('2018-02-18 00:00:00'), Timestamp('2018-02-20 00:00:00'),
       Timestamp('2018-02-21 00:00:00'), Timestamp('2018-02-22 00:00:00'),
       Timestamp('2018-05-02 00:00:00'), Timestamp('2018-03-02 00:00:00'),
       Timestamp('2018-02-19 00:00:00'), Timestamp('2019-02-01 00:00:00'),
       Timestamp('2019-07-01 00:00:00'), Timestamp('2019-11-01 00:00:00'),
       Timestamp('2016-01-16 00:00:00'), Timestamp('2019-01-22 00:00:00'),
       Timestamp('2019-01-23 00:00:00'), Timestamp('2019-04-01 00:00:00'),
       Timestamp('2019-01-17 00:00:00'), Timestamp('2019-01-19 00:00:00'),
       Timestamp('2019-01-24 00:00:00'), Timestamp('2019-09-01 00:00:00'),
       Timestamp('2019-01-18 00:00:00'), Timestamp('2019-01-20 00:00:00'),
       Timestamp('2019-01-28 00:00:00'), Timestamp('2019-01-29 00:00:00'),
       Timestamp('2019-05-01 00:00:00'), Timestamp('2019-12-01 00:00:00'),
       Timestamp('2019-01-13 00:00:00'), Timestamp('2019-01-27 00:00:00'),
       Timestamp('2019-01-21 00:00:00'), Timestamp('2019-01-02 00:00:00'),
       Timestamp('2019-04-02 00:00:00'), Timestamp('2019-07-02 00:00:00'),
       Timestamp('2019-11-02 00:00:00'), Timestamp('2019-02-22 00:00:00'),
       Timestamp('2019-02-02 00:00:00'), Timestamp('2019-06-02 00:00:00'),
       Timestamp('2019-08-02 00:00:00'), Timestamp('2019-02-14 00:00:00'),
       Timestamp('2019-02-15 00:00:00'), Timestamp('2019-02-21 00:00:00'),
       Timestamp('2019-10-02 00:00:00'), Timestamp('2019-12-02 00:00:00'),
       Timestamp('2019-02-18 00:00:00'), Timestamp('2019-02-19 00:00:00'),
       Timestamp('2019-02-25 00:00:00'), Timestamp('2019-03-03 00:00:00'),
       Timestamp('2019-04-03 00:00:00'), Timestamp('2019-08-03 00:00:00'),
       Timestamp('2019-09-03 00:00:00'), Timestamp('2019-03-15 00:00:00'),
       Timestamp('2019-02-03 00:00:00'), Timestamp('2019-05-03 00:00:00'),
       Timestamp('2019-12-03 00:00:00'), Timestamp('2019-03-13 00:00:00'),
       Timestamp('2019-03-14 00:00:00'), Timestamp('2019-02-06 00:00:00'),
       Timestamp('2019-08-06 00:00:00'), Timestamp('2019-09-06 00:00:00'),
       Timestamp('2019-06-16 00:00:00'), Timestamp('2019-06-25 00:00:00'),
       Timestamp('2019-06-28 00:00:00'), Timestamp('2019-06-06 00:00:00'),
       Timestamp('2019-10-06 00:00:00'), Timestamp('2019-05-06 00:00:00'),
       Timestamp('2019-12-06 00:00:00'), Timestamp('2019-06-14 00:00:00'),
       Timestamp('2019-06-17 00:00:00'), Timestamp('2019-06-21 00:00:00'),
       Timestamp('2019-07-22 00:00:00'), Timestamp('2019-07-29 00:00:00'),
       Timestamp('2019-08-07 00:00:00'), Timestamp('2019-07-14 00:00:00'),
       Timestamp('2019-07-16 00:00:00'), Timestamp('2019-02-07 00:00:00'),
       Timestamp('2019-03-07 00:00:00'), Timestamp('2019-12-07 00:00:00'),
       Timestamp('2019-07-13 00:00:00'), Timestamp('2019-07-15 00:00:00'),
       Timestamp('2019-07-26 00:00:00'), Timestamp('2019-04-07 00:00:00'),
       Timestamp('2019-07-19 00:00:00'), Timestamp('2019-07-31 00:00:00'),
       Timestamp('2019-06-07 00:00:00'), Timestamp('2019-07-23 00:00:00'),
       Timestamp('2019-05-07 00:00:00'), Timestamp('2019-07-27 00:00:00'),
       Timestamp('2019-01-08 00:00:00'), Timestamp('2019-02-08 00:00:00'),
       Timestamp('2019-08-29 00:00:00'), Timestamp('2019-12-08 00:00:00'),
       Timestamp('2019-08-15 00:00:00'), Timestamp('2019-08-21 00:00:00'),
       Timestamp('2019-08-28 00:00:00'), Timestamp('2019-09-08 00:00:00'),
       Timestamp('2019-08-13 00:00:00'), Timestamp('2019-08-16 00:00:00'),
       Timestamp('2019-08-22 00:00:00'), Timestamp('2019-08-30 00:00:00'),
       Timestamp('2019-06-08 00:00:00'), Timestamp('2019-07-08 00:00:00'),
       Timestamp('2019-08-08 00:00:00'), Timestamp('2019-08-17 00:00:00'),
       Timestamp('2019-08-24 00:00:00'), Timestamp('2019-01-09 00:00:00'),
       Timestamp('2019-05-09 00:00:00'), Timestamp('2019-06-09 00:00:00'),
       Timestamp('2019-07-09 00:00:00'), Timestamp('2019-08-09 00:00:00'),
       Timestamp('2019-09-13 00:00:00'), Timestamp('2019-09-14 00:00:00'),
       Timestamp('2019-09-15 00:00:00'), Timestamp('2019-09-20 00:00:00'),
       Timestamp('2019-09-22 00:00:00'), Timestamp('2019-10-09 00:00:00'),
       Timestamp('2019-11-09 00:00:00'), Timestamp('2019-12-09 00:00:00'),
       Timestamp('2019-09-16 00:00:00'), Timestamp('2019-09-17 00:00:00'),
       Timestamp('2019-09-09 00:00:00'), Timestamp('2019-09-26 00:00:00'),
       Timestamp('2019-09-21 00:00:00'), Timestamp('2019-09-24 00:00:00'),
       Timestamp('2019-04-10 00:00:00'), Timestamp('2019-05-10 00:00:00'),
       Timestamp('2019-09-10 00:00:00'), Timestamp('2019-12-10 00:00:00'),
       Timestamp('2019-10-23 00:00:00'), Timestamp('2019-08-10 00:00:00'),
       Timestamp('2019-10-10 00:00:00'), Timestamp('2019-10-20 00:00:00'),
       Timestamp('2019-10-27 00:00:00'), Timestamp('2019-11-10 00:00:00'),
       Timestamp('2019-10-17 00:00:00'), Timestamp('2019-10-19 00:00:00'),
       Timestamp('2019-06-10 00:00:00'), Timestamp('2019-10-21 00:00:00'),
       Timestamp('2019-10-25 00:00:00'), Timestamp('2019-01-10 00:00:00'),
       Timestamp('2019-02-10 00:00:00'), Timestamp('2020-03-12 00:00:00'),
       Timestamp('2020-04-12 00:00:00'), Timestamp('2020-12-20 00:00:00'),
       Timestamp('2020-12-22 00:00:00'), Timestamp('2020-12-29 00:00:00'),
       Timestamp('2020-07-12 00:00:00'), Timestamp('2020-08-12 00:00:00'),
       Timestamp('2020-12-13 00:00:00'), Timestamp('2020-12-16 00:00:00'),
       Timestamp('2020-12-19 00:00:00'), Timestamp('2020-12-26 00:00:00'),
       Timestamp('2020-12-27 00:00:00'), Timestamp('2020-12-28 00:00:00'),
       Timestamp('2020-02-12 00:00:00'), Timestamp('2020-05-12 00:00:00'),
       Timestamp('2020-12-14 00:00:00'), Timestamp('2020-12-21 00:00:00'),
       Timestamp('2020-12-31 00:00:00'), Timestamp('2020-01-12 00:00:00'),
       Timestamp('2020-11-12 00:00:00'), Timestamp('2020-12-23 00:00:00'),
       Timestamp('2020-12-30 00:00:00'), Timestamp('2020-09-12 00:00:00'),
       Timestamp('2020-12-18 00:00:00'), Timestamp('2020-07-11 00:00:00'),
       Timestamp('2020-08-11 00:00:00'), Timestamp('2020-11-19 00:00:00'),
       Timestamp('2020-11-20 00:00:00'), Timestamp('2020-11-28 00:00:00'),
       Timestamp('2020-05-11 00:00:00'), Timestamp('2020-11-13 00:00:00'),
       Timestamp('2020-11-14 00:00:00'), Timestamp('2020-11-15 00:00:00'),
       Timestamp('2020-11-22 00:00:00'), Timestamp('2020-11-30 00:00:00'),
       Timestamp('2020-10-11 00:00:00'), Timestamp('2020-11-16 00:00:00'),
       Timestamp('2020-11-18 00:00:00'), Timestamp('2020-11-21 00:00:00'),
       Timestamp('2020-11-29 00:00:00'), Timestamp('2020-03-11 00:00:00'),
       Timestamp('2020-10-08 00:00:00'), Timestamp('2020-08-13 00:00:00'),
       Timestamp('2020-08-15 00:00:00'), Timestamp('2020-08-16 00:00:00'),
       Timestamp('2020-08-24 00:00:00'), Timestamp('2020-06-08 00:00:00'),
       Timestamp('2020-08-14 00:00:00'), Timestamp('2020-08-28 00:00:00'),
       Timestamp('2020-01-08 00:00:00'), Timestamp('2020-02-08 00:00:00'),
       Timestamp('2020-04-08 00:00:00'), Timestamp('2020-09-08 00:00:00'),
       Timestamp('2020-08-17 00:00:00'), Timestamp('2020-11-08 00:00:00'),
       Timestamp('2020-08-23 00:00:00'), Timestamp('2020-08-29 00:00:00'),
       Timestamp('2020-03-08 00:00:00'), Timestamp('2020-08-27 00:00:00'),
       Timestamp('2020-07-08 00:00:00'), Timestamp('2020-05-06 00:00:00'),
       Timestamp('2020-06-15 00:00:00'), Timestamp('2020-06-17 00:00:00'),
       Timestamp('2020-06-20 00:00:00'), Timestamp('2020-06-21 00:00:00'),
       Timestamp('2020-06-23 00:00:00'), Timestamp('2020-06-27 00:00:00'),
       Timestamp('2020-06-06 00:00:00'), Timestamp('2020-06-18 00:00:00'),
       Timestamp('2020-06-16 00:00:00'), Timestamp('2020-06-28 00:00:00'),
       Timestamp('2020-06-22 00:00:00'), Timestamp('2020-06-24 00:00:00'),
       Timestamp('2020-06-26 00:00:00'), Timestamp('2020-01-05 00:00:00'),
       Timestamp('2020-09-06 00:00:00'), Timestamp('2020-09-05 00:00:00'),
       Timestamp('2020-10-05 00:00:00'), Timestamp('2020-05-17 00:00:00'),
       Timestamp('2020-05-22 00:00:00'), Timestamp('2020-05-29 00:00:00'),
       Timestamp('2020-05-18 00:00:00'), Timestamp('2020-04-05 00:00:00'),
       Timestamp('2020-11-05 00:00:00'), Timestamp('2020-05-19 00:00:00'),
       Timestamp('2020-07-05 00:00:00'), Timestamp('2020-05-13 00:00:00'),
       Timestamp('2020-05-21 00:00:00'), Timestamp('2020-05-28 00:00:00'),
       Timestamp('2020-12-05 00:00:00'), Timestamp('2020-04-03 00:00:00'),
       Timestamp('2020-11-03 00:00:00'), Timestamp('2020-03-14 00:00:00'),
       Timestamp('2020-03-23 00:00:00'), Timestamp('2020-03-24 00:00:00'),
       Timestamp('2020-03-28 00:00:00'), Timestamp('2020-03-29 00:00:00'),
       Timestamp('2020-03-30 00:00:00'), Timestamp('2020-08-03 00:00:00'),
       Timestamp('2020-09-03 00:00:00'), Timestamp('2020-10-03 00:00:00'),
       Timestamp('2020-03-20 00:00:00'), Timestamp('2020-02-03 00:00:00'),
       Timestamp('2020-03-03 00:00:00'), Timestamp('2020-03-21 00:00:00'),
       Timestamp('2020-03-19 00:00:00'), Timestamp('2020-08-04 00:00:00'),
       Timestamp('2020-04-27 00:00:00'), Timestamp('2020-12-04 00:00:00'),
       Timestamp('2020-03-04 00:00:00'), Timestamp('2020-04-30 00:00:00'),

In [54]:
total_df.to_csv('data/aggregated.csv')

#### EDA

In [72]:
total_df

,sn,command,date,crash_time,report_time,arrival_time,response_time,route,location,vehicle_no,...,no_killed_male_adult,no_killed_female_adult,no_killed_male_child,no_killed_female_child,total_killed,no_involved_male_adult,no_involved_female_adult,no_involved_male_child,no_involved_female_child,total_involved
0,1,RS11.2,02/09/2016,335,405,412,7,AKR -IPT,KM 2.5 NEAR ANTI CULTIT P/STATION,KPA 328 LG & LSR 999 XN,...,0,0,0,0,0,6,3,0,0,9
1,2,RS11.2,02/09/2016,1030,1032,1035,3,AKR - IPT,KM 6 ILARA MOKIN,AKD 991 CE & EKY 431 EH,...,0,0,0,0,0,2,0,0,0,2
2,3,RS11.2,08/09/2016,45,56,105,9,AKR - OWO,KM 2.5 SEENI JUNT.,DKA 378 YYY & TFB 118 XA,...,0,0,0,0,0,9,0,0,0,9
3,4,RS11.2,18/09/2016,1600,1623,1635,12,AKR - IPT,KM 13 ERO JUNT,"FKJ 611 XB, KNR 377 XA & GED 81 XA",...,1,1,0,1,3,8,5,0,1,14
4,5,RS11.2,23/09/2016,1830,1832,1833,1,AKR - OWO,KM1.5 NNPC MEGA STATION,AKR 397 AT & WWW 405 AA,...,0,0,0,0,0,2,1,0,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
906,1,RS11.21,12/04/2020,601,604,610,6,ORE - BEN,KM 4 SHOWBOY,AKR 770 EA,...,2,2,0,0,4,2,2,0,0,4
907,1,RS11.22,03/04/2020,545,550,554,4,OWO - IKR,AFTER AGOPANU,LSR 886 XW & KTN 350 YZ,...,0,0,0,0,0,16,0,0,0,16
908,2,RS11.22,30/04/2020,1402,1415,1423,8,OWO - IKR,KM 17 OPP CHANCERY HOTEL,WWW 340 WI,...,0,0,0,0,0,1,0,0,0,1
909,1,RS11.23,05/04/2020,1315,1325,1341,16,OKA - AKUNGBA,IWARO HILL,MUN 102 ZA,...,0,0,0,0,0,2,0,0,0,2
910,1,RS11.24,21/04/2020,1432,1441,1447,6,OND - ORE,MOTHER & CHILD HOSPITL,NND 378 WX,...,0,0,0,0,0,2,0,0,0,2